html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}

.container {
  padding-top: 30px;
}

.form-control {
  width: 350px;
}

.card {
  width: 780px;
  margin-top: 30px;
}

.card-title {
  text-align: center;
}

.card-body {
  display: flex;
}

.info-text,
.list-item {
  font-size: 30px;
  font-weight: 400;
  color: rgba(41, 40, 39, 0.767);
}

.info-list {
  margin-right: auto;
}

.img {
  border: 1px solid rgba(139, 139, 139, 0.795);
  border-radius: 5px;
}
